*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}
form{
    margin-top: 50px;
}
h1{
    color: white;
    text-align: center;
}
hr{
    height: 10px;
    background-color: aliceblue;
}
.container{
    position: absolute;
    margin-top: 300px;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 40px;
}

.buyer{
    align-content: center;
    max-width: 550px;
    margin: 0 auto;
    background-color: rgba(183, 172, 172, 0.563);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px;
}
.filled, .datetime{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.filled, .datetime{
    width: 48%;
}

.filled .input {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 10px;
    color: black;
}
.datetime .input {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 10px;
    color: black;
}
::-webkit-input-placeholder{
    color: black;
}

.btn{
    text-align: center;
}
::-webkit-input-placeholder{
    color: rgb(255, 255, 255);
}

.btn{
    text-align: center;
    margin-top: 50px;
}
.button{
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(84, 66, 45);
    text-decoration: none;
    color: azure;
}
a{
    text-decoration: none;
    color: rgb(207, 45, 45);
    font-weight: bold;
    padding-top: 6%;
    padding-left: 25%;
}
.logonama{
    margin-top: 20px;
    background-color: rgba(179, 179, 179, 0.524);
    text-align: center;
}
